    .hidden{
        display:none;
    }
    .container{
        position: absolute;
        width: 100vw;
        height: 80vh;
        background-color: aquamarine;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    #button0{
        position: absolute;
        left: 30vw;
        top: 20vw;
    }
        #button1{
        position: absolute;
        left: 20vw;
        top: 20vw;
    }
        #button2{
        position: absolute;
        left: 40vw;
        top: 20vw;
    }
  @media only screen and (max-width:600px){
    .container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #button0,
    #button1,
    #button2,
    #textArea3{
        position: static;
        margin-top: 10px;
    }
    #button1{
        margin-left: 40px;
    }
    #button2{
        margin-left: 20px;
    }
  }

textarea{
    align-items: center;
    position: absolute;
    justify-content: center;
    display: flex;
}