    
    
.pixelify-sans-uniquifier {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h1{
    font-family: "Pixelify Sans";
    color: rgb(5, 70, 74);
}

p{
    font-family: "Pixelify Sans";
    color: rgb(5, 70, 74);
}

html{
    background-color: rgb(251, 236, 190);
}
    
    .hidden{
        display:none;
    }

    .computer{
        position: absolute;
        width: 50vw;
        height: 60vh;
        background-color: rgb(251, 236, 190);
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 10px;
        padding: 10px;
        top: 15vh;
        left: 25vw;
    }

    .container{
        position: absolute;
        width:40vw;
        height: 40vh;
        background-color: rgb(88, 173, 173);
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 10px;
        padding: 10px;
    }


    /*buttons*/
    #button0{
        position: absolute;
        top: 15vw;
        left: 10vw;
        width: 100px;
        font-family: "Pixelify Sans";
        background-color: rgb(5, 70, 74);
        color: rgb(251, 236, 190);;
    }
        #button1{
        position: absolute;
        left: 24vw;
        top: 15vw;
        width: 100px;
        font-family: "Pixelify Sans";
        background-color: rgb(5, 70, 74);
        color: rgb(251, 236, 190);;
    }
        #button2{
        position: absolute;
        left: 17vw;
        top: 20vw;
        width: 100px;
        font-family: "Pixelify Sans";
        background-color: rgb(5, 70, 74);
        color: rgb(251, 236, 190);
    }

        #button3{
        position: absolute;
        width: 100px;
        font-family: "Pixelify Sans";
        background-color: rgb(5, 70, 74);
        color: rgb(251, 236, 190);
    }

        #button4{
        position: absolute;
        top: 50vh;
        width: 100px;
        font-family: "Pixelify Sans";
        background-color: rgb(5, 70, 74);
        color: rgb(251, 236, 190);
    }




  @media only screen and (max-width:600px){
    .container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #button0,
    #button1,
    #button2,
    #textArea3{
        position: static;
        margin-top: 10px;
    }
    #button1{
        margin-left: 20px;
    }
    #button2{
        margin-left: 20px;
    }
  }

textarea{
    align-items: center;
    position: absolute;
    justify-content: center;
    display: flex;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid cyan;
    border-radius: 10px;
    z-index: 30;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%,-50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1 px solid cyan;
}

.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    padding:10px 15px;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

#prince1{
    color: cyan;
}

#prince2{
    color: orange;
}