    .hidden{
        display:none;
    }
    .container{
        position: absolute;
        width: 100vw;
        height: 80vh;
        background-color: aquamarine;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    #button0{
        position: absolute;
        left: 30vw;
        top: 20vw;
    }
        #button1{
        position: absolute;
        left: 20vw;
        top: 20vw;
    }
        #button2{
        position: absolute;
        left: 40vw;
        top: 20vw;
    }
  @media only screen and (max-width:600px){
    .container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #button0,
    #button1,
    #button2,
    #textArea3{
        position: static;
        margin-top: 10px;
    }
    #button1{
        margin-left: 40px;
    }
    #button2{
        margin-left: 20px;
    }
  }

textarea{
    align-items: center;
    position: absolute;
    justify-content: center;
    display: flex;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid cyan;
    border-radius: 10px;
    z-index: 30;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%,-50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1 px solid cyan;
}

.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    padding:10px 15px;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}